# SPDX-FileCopyrightText: 2022 - 2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

[benchmark]
name = "k-Nearest Neighbors"
short_name = "knn"
relative_path = "knn"
module_name = "knn"
func_name = "knn"
kind = "microbenchmark"
domain = "Supervised Learning"
input_args = [
    "x_train",
    "y_train",
    "x_test",
    "k",
    "classes_num",
    "train_size",
    "test_size",
    "predictions",
    "votes_to_classes",
    "data_dim",
]
array_args = [
    "x_train",
    "y_train",
    "x_test",
    "predictions",
    "votes_to_classes",
]
output_args = [
    "predictions",
]

# `sycl` fails just on Windows
expected_failure_implementations = ["numba_dpex_p", "sycl"]

[benchmark.parameters.S]
test_size = 1024
train_size = 1024
data_dim = 16
classes_num = 3
seed_test = 777777
seed_train = 0
k = 5

[benchmark.parameters.M16Gb]
test_size = 8388608
train_size = 1024
data_dim = 16
classes_num = 3
seed_test = 777777
seed_train = 0
k = 5

[benchmark.parameters.M]
test_size = 8388608
train_size = 1024
data_dim = 16
classes_num = 3
seed_test = 777777
seed_train = 0
k = 5

[benchmark.parameters.L]
test_size = 16777216
train_size = 1024
data_dim = 16
classes_num = 3
seed_test = 777777
seed_train = 0
k = 5

[benchmark.init]
func_name = "initialize"
types_dict_name="types_dict"
precision="double"
input_args = [
    "test_size",
    "train_size",
    "data_dim",
    "classes_num",
    "seed_test",
    "seed_train",
    "types_dict",
]
output_args = [
    "x_train",
    "y_train",
    "x_test",
    "predictions",
    "votes_to_classes",
]
