name: build and run

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build_linux:
    name: Builds dpbench and runs the benchmarks
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.8", "3.9"]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout dpbench
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python }}
          activate-environment: dpbench-devel

      - name: Conda info
        shell: bash -l {0}
        run: conda info

      - name: Install dpbench dependencies
        shell: bash -l {0}
        run: |
          conda install numpy numba tbb=2021.6.0 llvm-spirv -c intel
          conda install scikit-learn
          conda install -c dppy/label/dev numba-dpex
          conda list

      - name: Build dpbench
        shell: bash -l {0}
        run: |
          python setup.py develop

      - name: Validate dpbench
        shell: bash -l {0}
        run: |
          export OCL_ICD_FILENAMES=libintelocl.so
          python -c "import dpbench; dpbench.run_benchmarks()" || exit 1
          python -c "import dpbench; dpbench.all_benchmarks_passed_validation(\"dpbench.db\");"
          res=`                                                                    \
            printf "%s"                                                            \
            "$(python -c "import dpbench;                                          \
                res=int(dpbench.all_benchmarks_passed_validation(\"dpbench.db\")); \
                print(\"Validation:\",res)"                                        \
              )" | grep Validation | cut -f 2 -d ":"` || exit 1
          if [ ${res} == 0 ]; then exit 1; fi
